.todo 
{
    background-color: #3f3d49;
    margin: 0.5rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    transition: all 0.6s;
}

.todo:hover
{
    background-color: #36363a;
}

.todo p
{
    opacity: 0.6;
}

.btn
{
    border: none;
    background-color: transparent;
    color:red;
    cursor: pointer;
}

.icon
{
    font-size: 25px;
}